.house-name {
  width: 200px;
}

.d-flex {
  width: 100%;
}
.thumbs {
  width: 20px;
  height: 20px;
}
.pop-up {
  width: 300px;
  margin-left: 200px;
}
.authentication {
  margin-top: 200px;
}
.signup {
  margin-top: 120px;
  margin-left: 300px;
}
.logo {
  width: 80px;
  height: 50px;
  margin-left: 180px;
  margin-top: 20px;
}
.profile {
  height: 100%;
}
.error {
  font-family: Courier;
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 10px;
}
.avatar-lg {
  width: 35px;
  height: 35px;
  border-radius: 15px;
}

.fa-thumbs-down {
  color: red;
}

.fa-thumbs-up {
  color: #008080;
}
.btn-primary {
  background-color: #008080;
}

.teal {
  color: #008080;
}
.right {
  margin-left: 250px;
}
